<mat-drawer-container class="main-container" autosize >
  <mat-drawer #drawer class="main-sidenav" mode="side" [opened]="true">
    <mat-nav-list  class="menu-sidebar">
      @for (item of menuItems; track $index) {
      <mat-list-item class="menu-sidebar-item">
        <a matLine>{{item.name}}</a>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <div class="main-sidenav-content">

    <mat-toolbar class="toolbar">
      <span class="logo"> <strong>Angular</strong> Bookings</span>
      <button mat-mini-fab aria-label="menu-trigger" (click)="drawer.toggle()" class="trigger-button">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <ng-content/>
  </div>
</mat-drawer-container>
