<mat-drawer-container class="main-container" autosize >
  <mat-drawer #drawer class="main-sidenav" mode="side">
    <mat-nav-list >
      @for (item of menuItems; track $index) {
      <mat-list-item>
        <a matLine>{{item.name}}</a>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <div class="main-sidenav-content">

    <button mat-mini-fab aria-label="menu-trigger" (click)="drawer.toggle()" class="trigger-button">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content/>
  </div>
</mat-drawer-container>
