.main-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  .toolbar{
    .logo{
      font-size: large;
      strong{
        color:palevioletred
      }
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.main-sidenav {
  background-color: pink;
  min-width:  250px;
  .menu-sidebar {
    margin-top: 10%;
  }
}

